SECRET_KEY=change-this-to-something-random-and-long
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1

DATABASE_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

FARE_UNIT_PRICE=5.0
FARE_BASE_FEE=2.0
